@model List<Med_Center.Data.Doctor>
@{
    ViewData["Title"] = "Doctors";
}
<a class="btn btn-primary m-5" asp-action="Create">Add Doctor</a>
<table class="table table-success table-striped-columns">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var d in Model)
        {
            <tr>
                <td>@d.Id</td>
                <td>@d.Name</td>
                <td>@d.Age</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@d.Id" class="btn btn-outline-secondary">
                    Edit
                    </a>
                    <a asp-action="Delete" asp-route-id="@d.Id" class="btn btn-outline-secondary">
                    Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<h2>The doctor with the most visits is @ViewBag.doktoriName </h2>
<h2>@ViewBag.doktoriName ?? "No doctor name"</h2>