@model List<Med_Center.Data.Patient>
@{
    ViewData["Title"] = "Patients";
}
<a class="btn btn-primary m-5" asp-action="Create">Add Patient</a>
<table class="table table-success table-striped-columns table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Age</th>
            <th>Doctor</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var d in Model)
        {
            <tr>
                <td>@d.Id</td>
                <td>@d.FirstName</td>
                <td>@d.LastName</td>
                <td>@d.Age</td>
                <td>@d.Doctor?.Name</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@d.Id" class="btn btn-outline-secondary m-lg-3">
                        Edit
                    </a>
                    <a asp-action="Delete" asp-route-id="@d.Id" class="btn btn-outline-secondary">
                        Delete
                    </a>
                </td>
            </tr>
                }
    </tbody>
</table>
<h2>The patient with the most visits is @ViewBag.pacientiName </h2>