@model List<Med_Center.Data.Appointment>
@{
    ViewData["Title"] = "Appointments";
}
<a class="btn btn-primary m-5" asp-action="Create">Add Appointment</a>
<table class="table table-success table-striped-columns">
    <thead>
        <tr>
            <th>Id</th>
            <th>No</th>
            <th>Date</th>
            <th>Doctor</th>
            <th>Patient</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var a in Model)
        {
            <tr>
                <td>@a.Id</td>
                <td>@a.No</td>
                <td>@a.Date.ToString("dd/MM/yyyy")</td>
                <td>@a.DoctorName</td>
                <td>@a.PatientName</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@a.Id" class="btn btn-outline-secondary">
                        Edit
                    </a>
                    <a asp-action="Delete" asp-route-id="@a.Id" class="btn btn-outline-secondary">
                        Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>